body {        
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2e2e2e3a;
  font-size: 5rem;
  gap: 0rem;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font: weight 100%;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 20px;
  border-style: solid;
  padding: 1rem;
  background-color: #ffffff;
  color: darkcyan;
  text-shadow: gray 0.1em 0.1em 0.2em;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-display: block;
  font-style: italic;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 80%;
  height: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px;
  border-radius: 20px;
  overflow: hidden;
}

td. cell {
  width: 80px;
  height: 80px;
  border: 1px solid #000; 
} 
td. cell: hover{
  background-color: #ffd900;
}
